<a href="https://colab.research.google.com/github/SukyC/-wanted-pre-onboarding-challenge-data/blob/main/Pandas_Quiz_%E1%84%86%E1%85%AE%E1%86%AB%E1%84%8C%E1%85%A6_f.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pandas 라이브러리를 불러옵니다.
import pandas as pd

### 1. 데이터를 로드하세요. 데이터는 ","  기준으로 구분되어 있습니다.

In [ ]:
import os
os.getcwd()

'/content'

In [ ]:
os.listdir('./')

['.config', '.ipynb_checkpoints', 'games.csv', 'sample_data']

In [ ]:
# 데이터 출처 : https://www.kaggle.com/code/youngprize33/py-pandas-tutorial/input?select=games.csv
df = pd.read_csv('./games.csv')
df

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5.0,0.0,0.0,1.0,1.0,114.0,67.0,43.0,16.0,51.0
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2.0,0.0,0.0,0.0,0.0,11.0,67.0,238.0,51.0,420.0
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2.0,0.0,0.0,1.0,0.0,157.0,238.0,121.0,57.0,28.0
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,164.0,18.0,141.0,40.0,51.0
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3.0,0.0,0.0,1.0,0.0,86.0,11.0,201.0,122.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29061,3319588964,1503795579848,1267,9,2,2,2,2,0,2,...,7.0,1.0,0.0,1.0,1.0,141.0,157.0,119.0,238.0,31.0
29062,3288503305,1501712292256,1620,9,2,1,2,2,2,2,...,8.0,1.0,1.0,3.0,0.0,57.0,141.0,56.0,126.0,91.0
29063,3330368824,1504575428688,1816,9,2,2,2,2,0,2,...,9.0,2.0,0.0,3.0,1.0,105.0,92.0,59.0,89.0,31.0
29064,3322554067,1504017404837,1679,9,1,1,1,1,0,1,...,1.0,0.0,0.0,0.0,0.0,18.0,64.0,40.0,498.0,114.0
29065,3316391196,1503583577442,1563,9,1,1,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 2. 데이터의 상위 5개 행을 출력하세요

In [ ]:
df.head()

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5.0,0.0,0.0,1.0,1.0,114.0,67.0,43.0,16.0,51.0
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2.0,0.0,0.0,0.0,0.0,11.0,67.0,238.0,51.0,420.0
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2.0,0.0,0.0,1.0,0.0,157.0,238.0,121.0,57.0,28.0
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,164.0,18.0,141.0,40.0,51.0
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3.0,0.0,0.0,1.0,0.0,86.0,11.0,201.0,122.0,18.0

### 3. 6번째 컬럼명을 출력하세요

In [ ]:
df.columns[5]

'firstBlood'

### 4. 6번째 컬럼의 데이터 타입을 확인하세요

In [ ]:
df.dtypes[5]

dtype('int64')

### 5. 6번째 컬럼의 3번째 값은 무엇인가?

In [ ]:
print(df.iloc[2,5])

2

### 6. 수치형 변수를 가진 컬럼을 출력하세요

In [ ]:
df.select_dtypes(int).columns

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id'],
      dtype='object')

### 7. 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대 , 최소)를 확인하세요

In [ ]:
df.describe()

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
count,2.906600e+04,2.906600e+04,29066.000000,29066.0,29066.000000,29066.000000,29066.000000,29066.000000,29066.000000,29066.000000,...,29065.000000,29065.000000,29065.000000,29065.000000,29065.000000,29065.000000,29065.000000,29065.000000,29065.000000,29065.000000
mean,3.306355e+09,1.502934e+12,1830.553981,9.0,1.491709,1.469311,1.449185,1.305993,0.929987,1.438554,...,5.529262,0.982178,0.417203,1.397007,0.238466,107.869568,108.191399,108.248271,108.413625,107.908343
std,2.937037e+07,1.972048e+09,510.960996,0.0,0.499940,0.520395,0.543053,0.676063,0.841192,0.570107,...,3.868714,1.256319,0.616628,1.221115,0.426153,101.969032,103.263722,101.885419,102.890410,101.987664
min,3.214824e+09,1.496892e+12,190.000000,9.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,3.292505e+09,1.502038e+12,1529.000000,9.0,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,38.000000,38.000000,38.000000,38.000000,38.000000
50%,3.320250e+09,1.503847e+12,1830.000000,9.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,6.000000,0.000000,0.000000,1.000000,0.000000,90.000000,90.000000,90.000000,90.000000,90.000000
75%,3.327109e+09,1.504353e+12,2145.000000,9.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,9.000000,2.000000,1.000000,2.000000,0.000000,141.000000,141.000000,141.000000,141.000000,141.000000
max,3.331764e+09,1.504703e+12,4220.000000,9.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,11.000000,10.000000,4.000000,6.000000,1.000000,516.000000,516.000000,516.000000,516.000000,516.000000

### 8. map을 활용하여 결과 화면과 같이 나타내세요.

In [15]:
df= pd.read_csv('NA_handling_method.csv')
print('Original Dataframe')
print(df,end='\n\n')
def f1(x): # f1(x)를 구현하세요.

    return x.split(' ')[0]


df['Argument'] = df['Description'].map(f1) # get the first word

def f2(x): # f2(x)를 구현하세요.
    word = x.split(' ')

    return ' '.join(word[1:])

df['Description'] = df['Description'].map(f2) # remove the first word

df = df.reindex(columns=['Argument', 'Description'])

print('New DataFrame')
print(df)

Original Dataframe
                                       Description
0  dropna 각 레이블의 값에 결측 데이터 여부를 기준으로 축 레이블을 필터링합니다.
1                      fillna 결측 데이터를 일부 값으로 채웁니다.
2                   isnull 결측값 여부를 bool 값으로 반환합니다.
3                          notnull isnull의 부정형입니다.

New DataFrame
  Argument                               Description
0   dropna  각 레이블의 값에 결측 데이터 여부를 기준으로 축 레이블을 필터링합니다.
1   fillna                      결측 데이터를 일부 값으로 채웁니다.
2   isnull                   결측값 여부를 bool 값으로 반환합니다.
3  notnull                           isnull의 부정형입니다.

### 9. 결측값 데이터를 처리하는 함수들을 활용하여 결과 화면과 똑같이 나타내세요.

In [30]:
from numpy import nan as NA

data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])
print('Original DataFrame')
print(data, end='\n\n')

cleaned = data.dropna()
print('결측값을 제거하세요')
print(cleaned, end='\n\n')

filled = data.fillna(0)
print('결측값을 0으로 채우세요.')
print(filled, end='\n\n')

filled2 = data.fillna({1:0.5, 2: 1})
print('컬럼 1의 결측값은 0.5, 컬럼 2의 결측값은 1로 채우세요')
print(filled2, end='\n\n')

Original DataFrame
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

결측값을 제거하세요
     0    1    2
0  1.0  6.5  3.0

결측값을 0으로 채우세요.
     0    1    2
0  1.0  6.5  3.0
1  1.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  6.5  3.0

컬럼 1의 결측값은 0.5, 컬럼 2의 결측값은 1로 채우세요
     0    1    2
0  1.0  6.5  3.0
1  1.0  0.5  1.0
2  NaN  0.5  1.0
3  NaN  6.5  3.0

### 10. Filtering 기법을 사용하여 결과 화면과 똑같이 나타내세요.

In [31]:
import numpy as np

data = pd.read_csv('filtering.csv')
print(data.columns)
data.describe()

Index(['0', '1', '2', '3'], dtype='object')

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.003217     0.005216     0.011480     0.060450
std       0.994605     1.021078     0.974845     1.000175
min      -3.405433    -3.128737    -2.756538    -2.804253
25%      -0.683914    -0.673399    -0.618797    -0.650437
50%       0.024839     0.026260     0.056754     0.061464
75%       0.691678     0.686333     0.653021     0.751716
max       2.959196     2.921331     2.703505     3.462036

In [47]:
print('"0" 컬럼의 값이 -2.5보다 작거나 2.5보다 큰 row만 남깁니다.')
################
# 필터링을 해주세요.

data[(data['0'] > 2.5) | (data['0'] < -2.5 )]

################

"0" 컬럼의 값이 -2.5보다 작거나 2.5보다 큰 row만 남깁니다.

            0         1         2         3
59   2.936586  1.421846  0.207087 -1.110161
119 -2.628193  0.170862 -0.052603  0.136276
344 -3.405433 -0.021406  0.794715  1.487170
347  2.959196  0.455203  2.144226  3.031789
356  2.511460 -0.599986 -0.314441  2.925966
367  2.940238 -0.251607 -0.200506  0.585714
509  2.924329  0.144208 -0.086150 -0.852511
546 -2.743107  1.238505  0.235548 -0.158648
549  2.558939  0.111573 -0.509848 -2.245904
672  2.709143  0.109369  0.283526 -1.227998
910 -2.828788  1.916984  1.633806 -1.667797
992  2.697077  0.774417  1.264697  1.896905